* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root { 
    --redButton: #d43f3f;
    --redButtonHover: #d41f1f;

    --border-radius: 5px;
}

/* Temas de color principal */
.theme_green { --primary-color: #557d48; --primary-color-dark: #549361; }
.theme_blue { --primary-color: #42617c; --primary-color-dark: #548c94; }
.theme_pink { --primary-color: #e29cac; --primary-color-dark: #bc5c76; }
.theme_red { --primary-color: #973838; --primary-color-dark: #a2303f; }
.theme_gray { --primary-color: #4c4a4a; --primary-color-dark: #858182; }

/* Modo oscuro y claro */
#light_mode { --background-color: #ffffff; --background-modal: #2b2929; --text-colorB: #2b2929; --text-colorW: #ffffff; }
#dark_mode { --background-color: #2b2929; --background-modal: #ffffff; --text-colorB: #ffffff; --text-colorW: #2b2929; }

body {
    background-color: var(--background-color);
}


.genericBtn {
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: .3s ease;
    color: white;
    font-size: 1rem;
}

#sectionCreator {
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 10% 10% 20%;
    background-color: var(--primary-color);
    align-content: center;
    h1 {
        color: var(--primary-color-dark);
        text-align: center;
        font-size: 1.5rem;
    }

    .secCreator_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .secCreator_form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--background-color);
            color: var(--text-colorB);
            padding: 20px;
            border-radius: 10px;
            
            label {
                border: 2px solid var(--primary-color);
                border-bottom: none;
                border-radius: 10px 10px 0 0;
                padding: 10px 10px 0 10px;
                bottom: -12px;
                position: relative;
            }

            .textArea_createPanel {
                width: 100%;
                height: 40px;
                padding: 10px;
                color: var(--text-colorB);
                background-color: var(--background-color);
                border: 2px solid var(--primary-color);
                border-top: none;
                border-radius: 0 0 10px 10px;
                outline: none;
                
            }

            .btn_createPanel {
                width: 100%;
                background-color: var(--primary-color-dark);
                color: white;
                &:hover {
                    background-color: var(--primary-color); 
                }
            }
        }
    }

    .secCreator_containerThemes {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        .secCreator_buttonsContainer {
            display: flex;
            gap: 10px;
            button {
                width: 20px;
                height: 20px;
                border-radius: 8px;
                cursor: pointer;
                border: none;
            }
            .secCreator_btnColorGreen {
                background-color: #557d48;
            }
            .secCreator_btnColorBlue {
                background-color: #42617c;
            }
            .secCreator_btnColorPink {
                background-color: #e29cac;
            }
            .secCreator_btnColorRed {
                background-color: #973838;
            }
        }
        .secCreator_checkBox {
            display: none;
        
            & + label {
                display: inline-block;
                width: 55px;
                height: 30px;
                background-color: white;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s;
        
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: var(--primary-color-dark);
                    border-radius: 8px;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    transition: left 0.3s;
                }
            }
        
            &:checked + label {
                background-color: #272727;
        
                &::before {
                    left: 25px;
                }
            }
        }
        
    }
}

#sectionViewer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 5%;
    
    .secViewer_containerValues {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color-dark);
        border-radius: 10px;
        padding: 20px;
        gap: 10px;

        .secViewer_article {
            .secViewer_label {
                text-align: start;
                font-size: 1rem;
                color: white;
            }

            div {
                display: flex;
                margin-top: 5px;
                gap: 5px;

                label {
                    text-align: center;
                    align-content: center;
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 10px 0 0 10px;
                    background-color: var(--background-color);
                    color: var(--text-colorB);
                }

                input {
                    width: 100%;
                    max-width: 150px;
                    height: 40px;
                    border-radius: 0 10px 10px 0;
                    padding: 10px;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                    background-color: var(--background-color);
                    color: var(--text-colorB);
                }
            }
        }
    }

}

#sectionTablesContainer{
    width: 100%;
    #sectionBoard {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 5% 5%;

        .secBoard_containerPanel {
            width: 100%;
            background-color: var(--primary-color);
            border: 2px solid var();
            border-radius: 10px;
            border: 2px solid var(--primary-color);
            overflow: hidden;
            
            header {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                background-color: var(--background-color);
                
                h1 {
                    font-size: 1.5rem;
                    display: inline-block;
                    color: var(--primary-color-dark);
                }
                button {
                    background-color: var(--primary-color-dark);
                    width: 60px;
                    height: 60px;
                    font-size: 1.5rem;
                    &:hover {
                        background-color: var(--primary-color);
                    }
                }
            }
            
            .secBoard_resume {
                display: flex;
                justify-content: space-around;
                background-color: var(--primary-color-dark);
                div {
                    padding: 10px 5px;
                    text-align: center;
                    color: white;

                    dt {
                        font-weight: bold;
                        font-size: 0.9rem;
                    }

                    dd {
                        margin-top: 5px;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }
            
            .secBoard_board {
                width: 100%;
                max-width: 100%;
                background-color: var(--background-color);
                color: var(--text-colorB);
                overflow: hidden;
        
                thead {
                    background-color: var(--primary-color);
                    color: var(--text-colorW);
        
                    th {
                        padding: 10px;
                        text-align: center;
                    }
                }
        
                tbody {
                    tr {
                        td {
                            padding: 10px;
                            text-align: center;

                            &:last-child {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;
                                gap: 5px;
                                padding: 10px 0;
                            }
                            button {
                                width: 55px;
                                transition: 0.3s ease;
                                font-size: 0.9rem;
                            }
                        
                            .secBoard_btnEdit {
                                background-color: var(--primary-color-dark);
                                font-size: 1.3rem;
                                &:hover {
                                    background-color: var(--primary-color);
                                }
                            }
                        
                            .secBoard_btnDelete {
                                background-color: var(--redButton);
                                font-size: 1.3rem;
                                &:hover {
                                    background-color: var(--redButtonHover);
                                }
                            }
                        }
                    }
                }
            }

            .secBoard_deleteboard {
                width: 100%;
                height: 100px;
                button {
                    width: 100%;
                    height: 60px;
                    margin-top: 40px;
                    background-color: var(--redButton);
                    &:hover {
                        background-color: var(--redButtonHover);
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #272727e9;
    .modal_content {
        position: relative;
        display: flex;
        width: 340px;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: var(--background-color);
        padding: 20px;
        border-radius: 10px;
        h2 {
            color: var(--primary-color);
        }
        form {
            div{
                height: 40px;
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 10px 0;
                label {
                    width: 100px;
                    font-size: 1.1rem;
                    color: var(--text-colorB);
                }
                input {
                    width: 150px;
                    height: 100%;
                    border: 2px solid var(--primary-color-dark);
                    background-color: var(--background-color);
                    color: var(--text-colorB);
                    border-radius: 10px;
                    font-size: 1.1rem;
                    padding-left: 10px;
                }
                #input_minutePicker{
                    width: 100px;
                }
                .minuteLabel {
                    width: 40px;
                    height: 40px;
                    background-color: var(--primary-color);
                    color: white;
                    border-radius: 10px;
                    text-align: center;
                    padding: 8px 0;
                }
                .modalCheckbox {
                    width: 40px;
                }
            }
            .modalSubmit {
                background-color: var(--primary-color-dark);
                width: 260px;
                margin-top: 10px;
                &:hover {
                    background-color: var(--primary-color);
                }
            }
        }
        .modalClose {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: var(--redButton);
            top: -5px;
            right: -5px;
            &:hover {
                background-color: var(--redButtonHover);
            }
        }
    }
}

.hidden { display: none; }

@media (min-width: 1250px) {
    main {
        display: flex;
    }
    #sectionCreator {
        width: 50%;
        height: 100vh;
        position: fixed;
    }

    #sectionTablesContainer {
        width: 50%;
        margin-left: 50%;
    }
};